body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #bdb8d7;
  background-color: #4b4276;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


form {
    display: flex;
    flex-direction: column;
}

.NavBar {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: lightgray;
 }
 
 .NavBar a {
    display: block;
    color: black;
    float: left;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
 }
 
 .NavBar a:hover {
    background-color:#dddddd;
    color: black;
 }
 
 .NavBar a.active{
    background-color: #dddddd64;
 }
 
 .NavBar input[type =text]{
    padding: 6px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 16px;
 }
 
  
 .NavBar img{
    width: 25px;
    height: 25px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 16px;
 }
 
 .NavBar img:hover {
    background-color:#dddddd;
    color: black;
 }
 
 .NavBar img.active{
    background-color: #dddddd64;
 }
 
.checkout_container {
    display: flex;
    justify-content: left;
}
 
.address_container, .payment_container {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    width: 400px;
    float: left;
}
 
.paynow_container {
    margin: 20px;
    float: right;
}
 
.paynow_button {
    padding: 10px 20px;
    font-family: Courier New;
    font-size: 16px;
    background-color: #6e1f89;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
 
.paynow_button:hover {
    background-color: #3e8e41;
 }

 @media screen and (max-width: 800px) {
    .address_container, .payment_container {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      height:auto;
    }
  }
